<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-and-barra">

                <img id="nav-logo" src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">

                <nav class="barra-de-navegacion">

                    </i> <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
                    <i class="fa-solid fa-magnifying-glass"></i>

                </nav>
            </div>

            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>

        </div>

        <a href="#" class="hamburguer-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul>
                <li><a href="">Ofertas</a></i></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/views/register.html">Creá tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li><a href="/views/login.html">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li><a href="">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
    </header>
    
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas" class="banner">
  
    <div class="div-main">
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <article class="product">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <div class="flex-container">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article  class="product">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <div class="flex-container">
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article class="product">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                            class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <div class="flex-container">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            </div>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article class="product">
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <div class="flex-container">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            </div>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
    </div>
    <footer>
        <div class="div-footer">
        <section class="info-footer">

            <div>
                <i class="fa-solid fa-credit-card"></i>
            </div>

            <h4> <strong>Pagá con tarjeta o en efectivo</strong> </h4>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section> <br><br>
        <section class="info-footer">

            <div>
                <i class="fa-solid fa-gift"></i>
            </div>

            <h4><strong>Envío gratis desde $ 2.500</strong> </h4>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section> <br><br>
        <section class="info-footer">

            <div>
                <i class="fa-solid fa-user-shield"></i>
            </div>

            <h4><strong>Seguridad, de principio a fin</strong></h4>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section><br><br>
        </div>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>

</html>